
OrdenesCompra/CRUD.cs
OrdenesCompra/CRUD.cs
OrdenesCompra/FormularioAgregarOC.Designer.cs
*.cs
*.cs
.vs/OrdenesCompra/FileContentIndex/412ccf25-acce-4211-a088-ce0edf590ab9.vsidx
.vs/OrdenesCompra/FileContentIndex/10be8c2b-43fd-46f9-9697-d80a97aaa464.vsidx
.vs/OrdenesCompra/FileContentIndex/a1d9881e-6a10-47dc-95cf-7bccaa94d39e.vsidx
